.demo1{
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
  .layout {
    .aside {
      height: 100%;
      background: green;
    }
    .header {
      background: #7dbcea;
      color: #fff;
    }
    .content {
      background: red;
    }
    .footer {
      background: yellow;
    }
  }
}